doctype html
html lang="en"
  == slim :_head

  body.center
    .content.main

      - if locals[:message]
          h2 = locals[:message] if locals[:message]
          .line
          h2
            a href="mailto:trayoda@gmail.com" Please send me an email that it's broken
      - else
          h2.title 404! Page not found!
          .line
          h2
            a href="/" Try the homepage instead?

  == slim :_footer
